<div class="text-white">
  <h1><%= @hashtag.name %></h1>
  <div>
    <% @hashtag.questions.each do |q| %>
      <div class="buffer-bottom">
        <%= render partial: 'questions/question',
                   object: q %>
      </div>
    <% end %>
  </div>
</div>